@font-face {
  font-family: "LemonMilk";
  src: url("https://assets.quick.com.co/fonts/bebas/BebasNeue-Regular.otf");
}
@font-face {
  src: url('http://fonts.cdnfonts.com/css/segoe-pro?styles=21332,21326');
  font-family: 'Segoe', sans-serif;
}
:root {
  --white: #fff;
  --blue-dark:#2F4256;
  --white-Semi:#F2F2F2;
  --blue-ligth:#00FFFF;
  --yellow:#FFE11B;
  --gold:#F2E069;
  --silver:#BBBBBB;
  --bronze:#FFDFAE;
}
* {
  scrollbar-color: var(--white);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}

body,html{
  margin: 0px;
  padding: 0px;
  font-size: 1.1em;
  font-family: 'Segoe', sans-serif;
  background-color: var(--white-Semi);
}
/*clases base*/
/*aling*/
.jus-c-sb{
  justify-content: space-between;
}
.jus-c-sa{
  justify-content: space-around;
}
.jus-c-se{
  justify-content: space-evenly;
}
.tex-a-c{
  text-align: center;
}
.tex-a-r{
  text-align: right;
}
/*sizes*/
.fon-s-3e{
  font-size: 3em;
}
.wid-41p{
  width: 41px;
}
.wid-80w{
  width: 80vw;
}
.wid-90w{
  width: 90vw;
}
.wid-100{
  width: 100%;
}
.wid-90{
  width: 90%;
}
.wid-80{
  width: 80%;
}
.wid-70{
  width: 70%;
}
.fon-s-0d8{
  font-size: 0.8em;
}
.fon-s-2e{
  font-size: 2em;
}
.dis-b{
display: block;
}
.dis-n{
  display: none;
}
.flo-r{
  float: right;
}
/*margenes*/
.mar-y-8h{
  margin: 8vh 0px;
}
.mar-t-24p{
  margin-top:24px;
}
.dis-f {
  display:flex;
}
.gap-col{
column-gap: 9px;
}
.mar-a{
  margin: auto;
}
/*color*/
.col-y{
  color: var(--yellow);
}
.col-gold{
  color: var(--gold);
}
.col-silver{
  color: var(--silver);
}
.col-bronze{
  color: var(--bronze);
}
.col-w{
  color: var(--white);
}
.col-bd{
  color: var(--blue-dark);
}
.lin-h-21p{
  line-height: 25px;
}
.pad{
  padding: 1em;
}
.fon-w-700{
  font-weight: bold;
}
.bor-b-y{
  border-bottom: 1px solid var(--yellow);
}
/*clases*/
.btn{
  background-color: transparent;
  border: hidden;
  cursor: pointer;
}
.pad-y-21p{
  padding: 21px 0px;
}
.categoriasGrid{
  display: grid;
  grid-template-columns: 55%;
  row-gap: 8vh;
  justify-content: center;
  padding-top: 10%;
}
.boxContent{
  width: 80vw;
  margin: auto;
}
.boxContentAlto{
  min-height: 55vh;
}
.inptLogin{
height: 36px;
background: #FFFFFF;
padding:5px 13px;
border: 1px solid #CACACA;
font-size: 16px;
}
.inputLogin::placeholder{
  color: #AAAAAA;
}
.bac-c-w{
  background-color: var(--white);
}
.bac-c-bd{
  background-color: var(--blue-dark);
}
@media only screen and (min-width: 866px) {
  .categoriasGrid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    column-gap: 4vw;
    row-gap: 8vh;
  }
}